version: "3.9"
services:
  tests:
    image: python:3.8-slim-buster
    working_dir: /app
    environment:
      - DEBUG=hello
    volumes:
      - ./app.py:/app/app.py
      - ./requirements.txt:/app/requirements.txt
    command: bash -c "pip install -r requirements.txt && pytest -s app.py"
