name: Run tests in container

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run Pytest with CodeClimate inspection
      run: pwd
      run: ls -al
      run: docker-compose run tests_with_code_climate
      env: 
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
